.add-bg {
  background-image: url("../../assets/images/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.coffee-bg {
  background-color: #f4f3f0;
}
